{
    "$schema": "https://raw.githubusercontent.com/infection/infection/0.27.0/resources/schema.json",
    "source": {
        "directories": [
            "src/"
        ]
    },
    "logs": {
        "html": "build/logs/html/infection.html",
        "stryker": {
            "report": "/^.*$/"
        }
    },
    "mutators": {
        "@default": true
    },
    "testFrameworkOptions": "--configuration=phpunit-coverage.xml"
}
