<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         verbose="true"
         cacheResultFile=".phpunit.cache/test-results"
         failOnRisky="true"
         failOnWarning="true"
         testdox="false">
    <testsuites>
        <testsuite name="Chevere/Xr Test suite">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">src/Chevere/Xr/Components/</directory>
        </include>
    </coverage>
</phpunit>