:root {
    --borderSize: 0.1rem; 
    --headerHeight: calc(3.7rem + var(--borderSize));
    --fontSize: 16px;
    --iconCopy: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIgogICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiI+CiAgICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00MzMuOTQxIDY1Ljk0MWwtNTEuODgyLTUxLjg4MkE0OCA0OCAwIDAgMCAzNDguMTE4IDBIMTc2Yy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4djQ4SDQ4Yy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4djMyMGMwIDI2LjUxIDIxLjQ5IDQ4IDQ4IDQ4aDIyNGMyNi41MSAwIDQ4LTIxLjQ5IDQ4LTQ4di00OGg4MGMyNi41MSAwIDQ4LTIxLjQ5IDQ4LTQ4Vjk5Ljg4MmE0OCA0OCAwIDAgMC0xNC4wNTktMzMuOTQxek0yNjYgNDY0SDU0YTYgNiAwIDAgMS02LTZWMTUwYTYgNiAwIDAgMSA2LTZoNzR2MjI0YzAgMjYuNTEgMjEuNDkgNDggNDggNDhoOTZ2NDJhNiA2IDAgMCAxLTYgNnptMTI4LTk2SDE4MmE2IDYgMCAwIDEtNi02VjU0YTYgNiAwIDAgMSA2LTZoMTA2djg4YzAgMTMuMjU1IDEwLjc0NSAyNCAyNCAyNGg4OHYyMDJhNiA2IDAgMCAxLTYgNnptNi0yNTZoLTY0VjQ4aDkuNjMyYzEuNTkxIDAgMy4xMTcuNjMyIDQuMjQzIDEuNzU3bDQ4LjM2OCA0OC4zNjhhNiA2IDAgMCAxIDEuNzU3IDQuMjQzVjExMnoiIGNsYXNzPSIiPjwvcGF0aD4KPC9zdmc+)
}

@media (prefers-color-scheme: light) {
    :root {
        --bodyBackground: #FFF;
        --bodyText: #24292f;
        --headerBackground: hsl(210deg 29% 97% / 80%);
        --colorBorder: #d8dee4;
        --buttonTopicText: #24292f;
        --buttonTopicBackground: #f6f8fa;
        --buttonTopicBorder: #bdc3c7;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bodyBackground: #010409;
        --bodyText: #c9d1d9;
        --headerBackground: hsl(215deg 21% 11% / 85%);
        --colorBorder: #21262d;
        --buttonTopicText: #c9d1d9;
        --buttonTopicBackground: var(--colorBorder);
        --buttonTopicBorder: hsl(210deg 67% 96% / 10%);
    }
}

* {
    box-sizing: border-box;
    cursor: default;
}

html {
    font-size: var(--fontSize);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bodyBackground);
    color: var(--bodyText);
    padding-top: var(--headerHeight);
    line-height: 1;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: var(--headerBackground);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    padding: 0.875rem 1.75rem;
    height: var(--headerHeight);
    grid-template-columns: auto auto 1fr;
    align-items: flex-start;
    display: grid;
}

header > div {
    display: inline-block;
}

.header-title {
    font-weight: bold;
    font-size: 1.5rem;
    outline: 0;
    margin-right: 1rem;
}

.header-title, .header-filter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-filter > span {
    margin-bottom: 0;
}

header, .message {
    border-bottom: var(--borderSize) solid var(--colorBorder);
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.message {
    padding: 0.875rem;
    grid-template-columns: auto auto 1fr;
    align-items: flex-start;
    display: grid;
    -webkit-animation: slideDown 250ms ease-in-out;
    animation: slideDown 250ms ease-in-out;
}

.message>div {
    padding: 0.875rem;
}

.body-raw>pre {
    margin: 0 !important;
}

.status {
    width: 6rem;
    position: sticky;
    top: var(--headerHeight);
}

.topic {
    display: inline-block;
    margin-bottom: 0.25rem;
    background: var(--buttonTopicBackground);
    padding: 0.4rem 0.8rem;
    border-radius: 0.25rem;
    border: var(--borderSize) solid var(--buttonTopicBorder);
    margin-right: 0.25rem;
    font-size: 0.9rem;
}

.body-raw {
    margin-bottom: 0.25rem;
}

.body-file {
    font-size: 0.8rem;
}

.body-file-display {
    opacity: 0.5;
    cursor: pointer;
}

.body-file-display:hover {
    text-decoration: none;
}

.body-file-display:hover:after {
    margin-left: var(--borderSize);
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    position: absolute;
    content: '';
    -webkit-mask: var(--iconCopy) no-repeat 50% 50%;
    mask: var(--iconCopy) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--bodyText);
}

.body-file-display:active {
    opacity: 1;
}

.hide-if-empty:empty {
    display: none;
}

.user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}