:root {
    --fontPre: XR, monospace;
    --borderSize: 0.0625rem;
    --headerHeight: calc(3.7rem + var(--borderSize));
    --fontSizeNormal: 16px;
    --fontSizeSubNormal: 0.9375rem;
    --fontSizeSmall: 0.8125rem;
    --marginEl: 0.25rem;
    --borderRadiusBox: 0.375rem;
    --dumpFontSize: 0.90625rem;
    --dumpText: #ecf0f1;
    --dumpBackground: hsl(210, 49%, 15%);
    --traceFontSize: var(--fontSizeSmall);
    --traceBackgroundOdd: hsl(210, 29%, 29%);
    --traceBackgroundEven: hsl(210, 29%, 24%);
    --iconCopy: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgcm9sZT0iaW1nIgogICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiI+CiAgICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00MzMuOTQxIDY1Ljk0MWwtNTEuODgyLTUxLjg4MkE0OCA0OCAwIDAgMCAzNDguMTE4IDBIMTc2Yy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4djQ4SDQ4Yy0yNi41MSAwLTQ4IDIxLjQ5LTQ4IDQ4djMyMGMwIDI2LjUxIDIxLjQ5IDQ4IDQ4IDQ4aDIyNGMyNi41MSAwIDQ4LTIxLjQ5IDQ4LTQ4di00OGg4MGMyNi41MSAwIDQ4LTIxLjQ5IDQ4LTQ4Vjk5Ljg4MmE0OCA0OCAwIDAgMC0xNC4wNTktMzMuOTQxek0yNjYgNDY0SDU0YTYgNiAwIDAgMS02LTZWMTUwYTYgNiAwIDAgMSA2LTZoNzR2MjI0YzAgMjYuNTEgMjEuNDkgNDggNDggNDhoOTZ2NDJhNiA2IDAgMCAxLTYgNnptMTI4LTk2SDE4MmE2IDYgMCAwIDEtNi02VjU0YTYgNiAwIDAgMSA2LTZoMTA2djg4YzAgMTMuMjU1IDEwLjc0NSAyNCAyNCAyNGg4OHYyMDJhNiA2IDAgMCAxLTYgNnptNi0yNTZoLTY0VjQ4aDkuNjMyYzEuNTkxIDAgMy4xMTcuNjMyIDQuMjQzIDEuNzU3bDQ4LjM2OCA0OC4zNjhhNiA2IDAgMCAxIDEuNzU3IDQuMjQzVjExMnoiIGNsYXNzPSIiPjwvcGF0aD4KPC9zdmc+);
}

@media (prefers-color-scheme: light) {
    :root {
        --bodyBackground: #FFF;
        --bodyText: #24292f;
        --headerBackground: hsl(210deg 29% 97% / 80%);
        --colorBorderRGB: 189, 195, 199;
        --buttonTopicText: #24292f;
        --buttonTopicBackground: hsl(210deg 29% 96%);
        --dumpText: var(--bodyText);
        --dumpBackground: hsl(210deg 29% 96%);
        --traceBackgroundOdd: var(--dumpBackground);
        --traceBackgroundEven: hsl(210deg 29% 93%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bodyBackground: #010409;
        --bodyText: #c9d1d9;
        --headerBackground: hsl(215deg 21% 11% / 85%);
        --colorBorderRGB: 65, 74, 88;
        --buttonTopicText: #c9d1d9;
        --buttonTopicBackground: hsl(207, 20%, 11%);
        --dumpText: #020202;
        --dumpBackground: #132537;
        --dumpText: var(--bodyText);
        --dumpBackground: hsl(207, 20%, 11%);
        --traceBackgroundOdd: var(--dumpBackground);
        --traceBackgroundEven: hsl(207, 20%, 8%);
    }
}

@font-face {
    font-family: "XR";
    src: local("Fira Code Regular"),
        url('fonts/firacode/firacode-regular.woff') format('woff');
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    box-sizing: border-box;
    cursor: default;
}

html {
    font-size: var(--fontSizeNormal);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bodyBackground);
    color: var(--bodyText);
    padding-top: var(--headerHeight);
    line-height: normal;
}

pre, .pre {
    padding: 1rem;
    font-family: var(--fontPre);
    line-height: normal;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: block;
    margin: 0;
    word-break: break-all;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: var(--headerBackground);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    padding: 0.875rem 1.75rem;
    height: var(--headerHeight);
    grid-template-columns: auto auto 1fr;
    align-items: flex-start;
    display: grid;
}

header>div {
    display: inline-block;
}

.header-title {
    font-weight: bold;
    font-size: 1.5rem;
    outline: 0;
    margin-right: 1rem;
    min-width: 3rem;
}

.header-title, .header-filter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-filter>span {
    margin-bottom: 0;
}

header, .message {
    border-bottom: var(--borderSize) solid rgba(var(--colorBorderRGB), .25);
}



.message {
    padding: 0.875rem;
    grid-template-columns: auto auto 1fr;
    align-items: flex-start;
    display: grid;
    -webkit-animation: slideDown 250ms ease-in-out;
    animation: slideDown 250ms ease-in-out;
}

.message>div {
    padding: 0.875rem;
}

.body-raw>pre {
    margin: 0;
}

.status {
    width: 6rem;
    position: -webkit-sticky;
    position: sticky;
    top: var(--headerHeight);
}

.body-filters .filter-button {
    margin-bottom: var(--marginEl);
}

.topic, .emote {
    display: inline-block;
}

.topic {
    font-size: var(--fontSizeSubNormal);
    background: var(--buttonTopicBackground);
    padding: calc(var(--fontSizeSmall)/2) var(--fontSizeSmall);
    border-radius: var(--marginEl);
    border: var(--borderSize) solid rgba(var(--colorBorderRGB), 0.5);
    margin-right: var(--marginEl);
}

.topic:hover {
    border-color: rgba(var(--colorBorderRGB), 1);
}

.body-raw {
    margin-bottom: var(--marginEl);
}

.body-file {
    font-size: var(--fontSizeSmall);
}

.body-file-display {
    opacity: 0.5;
    cursor: pointer;
}

.body-file-display:hover {
    text-decoration: none;
}

.body-file-display:hover:after {
    margin-left: var(--borderSize);
    width: var(--fontSizeSmall);
    height: var(--fontSizeSmall);
    display: inline-block;
    position: absolute;
    content: '';
    -webkit-mask: var(--iconCopy) no-repeat 50% 50%;
    mask: var(--iconCopy) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--bodyText);
}

.body-file-display:active {
    opacity: 1;
}

.hide-if-empty:empty {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-select-all {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.body-raw .hr {
    display: block;
    height: 1px;
    color: transparent;
    background: transparent;
    margin-bottom: -1px;
}

.backtrace .hr>span {
    opacity: 0;
    line-height: 0;
}

.hide {
    width: 0;
    height: 0;
    opacity: 0;
}

.dump, .backtrace {
    border-radius: var(--borderRadiusBox);
    word-break: break-word;
    display: block;
    border: none;
    text-align: left;
}

.dump {
    font-size: var(--dumpFontSize);
    margin-bottom: var(--marginEl);
    white-space: pre-wrap;
    color: var(--dumpText);
    background: var(--dumpBackground);
}

.dump>pre {
    margin: 0;
}

.backtrace {
    font-size: var(--traceFontSize);
    margin-bottom: var(--marginEl);
    overflow: hidden;
    border-radius: var(--borderRadiusBox);
    display: flex;
    flex-direction: column-reverse;
}

pre+.backtrace {
    margin-top: var(--marginEl);
}

.pre--stack-entry {
    border: 0;
    color: var(--dumpText);
    background: var(--traceBackgroundOdd);
}

.pre--stack-entry.entry--even {
    background: var(--traceBackgroundEven);
}